* body{
    margin: 0px;
    padding: 0px;
     font-family: "Roboto", sans-serif;
     background-color: white;
}
#topoContainer{
    width: 980px;
    height: 200px;
    margin: auto;
    background-color: white(255, 255, 255);
}
#menu{
    width: 780px;
    height: 200px;
    background-color: white(255, 255, 255);
    float: right;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 20px
}
#menu a{;
    color: black;
    margin top: 20px
    text-decoration: none;
    background-color: white;
}
#menu a:hover{
    color: blue;
}
.espacoTopo{
    padding-top: 10px;  
}
#logo{
    width: 100px;
    height: 100px;
    background-color: white(255, 255, 255);
    float: right;
}
#logo img{
    float: left;
    padding: 10px; 10-px; 10px; 10px;
}
#Banner{
width: 100%
height: 400px;
background-color: white;
margin: auto;
margin-top: 50px;
}
#conteudoSite{
    width: 980px;
    height: 500px;
     background-color: white(255, 255, 255);
     margin: auto;
}
#esquerda{
    width: 450px;
    height: 500px;
    float: left;
    background-color: white(255, 255, 255);
}
#direita{
    width: 450px;
    height: 500px;
    background-color: white(255, 255, 255);
    float: right;
}  
#rodape{
    width: 980px;
    height: 50px;
    background-color: white(255, 255, 255);
    margin: auto;
}